<div class="container">
    <div class="row">
        <div class="col">
            <h2>AUDI Q2 1.6 TDI</h2>
        </div>
        <div class="col">
            Cena: 50$/dan
            <button class="btn btn-success">Iznajmi</button>
        </div>
    </div>
    <div class="row">
        <img src=".." />
    </div>
    <div class="row">
        <p>
            Kratak opis vozila... Nullam tempor lectus ipsum, ut vestibulum lectus fringilla et. Pellentesque habitant
            morbi
            tristique senectus et netus et
            malesuada fames ac turpis egestas. Pellentesque quis quam scelerisque, tristique elit quis, rhoncus velit.
            Nunc
            leo velit, ornare a varius eget,
            sagittis et lorem. In ex urna, porta a neque eu, vestibulum convallis lorem. Nullam velit metus, gravida sit
            amet ornare ut, scelerisque ac diam.
            Quisque rhoncus vitae elit id lacinia. Morbi vestibulum pharetra sapien, a varius urna gravida vel. Vivamus
            vitae tortor eget ipsum venenatis viverra.
            Pellentesque nec volutpat turpis. Donec luctus laoreet turpis in accumsan. Pellentesque suscipit justo
            ipsum,
            sit amet pretium purus sagittis nec. Sed
            tristique egestas metus, nec molestie massa mattis non.
        </p>
    </div>
    <h4>Detalji</h4>
    <hr />
    <div>
        <div class="row">
            <div class="col-md-4">
                Tip: putnicko
            </div>
            <div class="col-md-4">
                Gorivo: benzin
            </div>
            <div class="col-md-4">
                Broj vrata: 5
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Proizvodjac: AUdi
            </div>
            <div class="col-md-4">
                zapremina motora: 1500
            </div>
            <div class="col-md-4">
                broj sedista: 5
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Model: Q2
            </div>
            <div class="col-md-4">
                Snaga motora: 116
            </div>
            <div class="col-md-4">
                Zapremina prtljaznika: 150
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Tip karoserije: SUV
            </div>
            <div class="col-md-4">
                Menjac: automatik
            </div>
            <div class="col-md-4">
                Pogon: prednji
            </div>
        </div>
    </div>
</div>