<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Tip vozila</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Putnicko</option>
                    <option>Teretno</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Marka</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Audi</option>
                    <option>Tesla</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Model</label>
                <div class="input-group">
                    <input type="text" class="form-control" aria-label="Default"
                        aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="cena-od-filter">Cena od</label>
                <div class="input-group">
                    <input id="cena-od-filter" type="text" class="form-control" aria-label="Default"
                        aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="cena-do-filter">Cena do</label>
                <div class="input-group">
                    <input id="cena-do-filter" type="text" class="form-control" aria-label="Default"
                        aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary form-control">Pretrazi</button>
        </div>
    </div>
</div>